@media all and (max-width: 890px) {
    .header__info-menu {
        text-align: center !important;
    }

    .header__info-central_block p {
        width: 100% !important;
        text-align: center;
    }

    .header__info-central_block img {
        float: none !important;
        width: 100% !important;
    }

    .connection {
        height: initial !important;
    }

    form,
    .form,
    .content__reasons-blocks,
    .content__account-change_explanation,
    .content__conditions,
    .content__rental-procedure,
    .content__security-second_block,
    .content__security-first_block {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }

    .form__communicate {
        margin: 0 0 50px 0 !important;
    }

    .content__reasons-money,
    .content__reasons-lock,
    .content__conditions-first,
    .content__conditions-second {
        border-right: none !important;
        border-bottom: 2px solid darkgray;
    }

    .content__reasons-money,
    .content__reasons-lock,
    .content__reasons-not_spam,
    .content__conditions-first,
    .content__conditions-second,
    .content__conditions-third {
        padding: 10px 0 !important;
    }

    .content__security-first_block img {
        float: none !important;
        margin-top: -20px !important;
    }

    .content__account-change_explanation p,
    .content__security-second_block p {
        text-align: center;
    }

    .content__account-change_explanation img {
        margin: 0 !important;
    }

    .content__conditions-first {
        margin: 0 !important;
    }

    .content__reviews-first_review_text,
    .content__reviews-second_review_text {
        margin: 0 !important;
    }
}

